@media screen and (min-width: 480px) and (max-width: 768px) {
    .i1{
        background-color: blue;
    }
    .i3{
        background-color: purple;
        width: 100px;
        height: 100px;
    }
}