.wrapper {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.item{
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;

}

.item:hover{
    border-radius: 50%;
    background-color: grey;
    transform: scale(1);

}

