*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    color: #142823;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main{
    padding: 9px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

.card{
    width: 245px;
    height: 291px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 32px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(139, 139, 139, 0.10);
    position: relative;
}

.sale{
    position: absolute;
    top: -30px;
}

p{
    color: #282828;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.discount-price{
    color:#106FDF;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.price{
    color: #DD152D;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}