@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fjalla+One&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.w-1070{
    width: 1070px;
    margin: 0 auto;
}

/*_______________________header___________________________________*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    font-family: "DM Sans", sans-serif;
}

header img{
    width: 199.499px;
    height: 39.215px;


}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

header nav a{
    color: #696871;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.469px;
}

.header_active_link{
    color: #19191B;
    border-bottom: 2px solid #5454D4;
}

header button{
    width: 211.02px;
    height: 60px;
    border-radius: 10px;
    background: #FF7143;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}

/*______________________section_________________________*/

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 68px;
}



.hero div h1{
    width: 439.411px;
    color: #19191B;
    font-family: "DM Sans", sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 77px; /* 102.667% */
    letter-spacing: -2.501px;

}

.hero div p{
    width: 409.426px;
    color: #696871;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.625px;
    margin: 50px 0 50px 0;
}

.hero div button{
    width: 188.211px;
    height: 60px;
    border-radius: 10px;
    background: #5454D4;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans" sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}

.hero img{
    width: 545.51px;
    height: 644px;
}

.logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 141px 0 141px 0;
}

/*____________________nerd___________________________*/

.nerd{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*.nerd img{*/
/*    width: 1440px;*/
/*    height: 3511px;*/
/*}*/
.nerd div h2{
    width: 556px;
    color: #19191B;
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 57px; /* 114% */
    letter-spacing: -1.563px;
}

.nerd div p{
    width: 459px;
    color: #696871;
    font-family: Mulish sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.625px;
    margin: 30px 0 30px 0;
}

.nerd div a{
    color: #5454D4;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.531px;
}

/*_________________________old-man________________________*/

.old-man{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.old-man div h2{
    width: 409px;
    color: #19191B;
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 57px; /* 114% */
    letter-spacing: -1.563px;
}
.old-man p{
    width: 409px;
    color: #696871;
    font-family: Mulish sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.625px;
    margin: 30px 0 30px 0;
}
.old-man a{
    color: #5454D4;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.531px;
}

/*_____________________your-choice_________________________*/

.your-choise{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 60px 0 60px 0;
}

.first{
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    flex-direction: column;
}

.second{
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    flex-direction: column;
}
.third{
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    flex-direction: column;
}

.first img{
    margin: 0 auto;
    display: block;
    width: 114px;
    height: 64px;

}

.second img{
    margin: 0 auto;
    display: block;
    width: 91px;
    height: 72px;

}

.third img{
    margin: 0 auto;
    display: block;
    width: 118px;
    height: 63px;
}

.first h2{
    color: #19191B;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px; /* 150% */
    letter-spacing: -0.75px;
    margin: 7px 7px 20px 6px;
}

.first p{
    width: 307px;
    color: #696871;
    text-align: center;
    font-family: Mulish sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.5px;
}

.second h2{
    color: #19191B;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px; /* 150% */
    letter-spacing: -0.75px;
    margin: 7px 0.5px 20px 10.5px;
}

.second p{
    width: 307px;
    color: #696871;
    text-align: center;
    font-family: Mulish sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.5px;
}

.third h2{
    color: #19191B;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px; /* 150% */
    letter-spacing: -0.75px;
    margin: 7px 7px 20px 6px;
}

.third p {
    width: 307px;
    color: #696871;
    text-align: center;
    font-family: Mulish sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.5px;
}